{
  "extends": [
    "airbnb",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "prettier/react",
    "prettier/@typescript-eslint",
    "plugin:prettier/recommended"
  ],
  "plugins": ["@typescript-eslint", "react", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018,
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "rules": {
    "import/no-unresolved": 0,
    "react/jsx-filename-extension": [1, {
      "extensions": [
        ".ts",
        ".tsx"
      ]
    }],
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false,
        "trailingComma": "all",
        "arrowParens": "avoid",
        "endOfLine": "auto"
      }
    ],
    "no-use-before-define": "off",
    "react/prop-types": 0,
    "comma-dangle": "off",
    "padded-blocks": "off",
    "arrow-body-style": "off",
    "react-hooks/exhaustive-deps": "warn",
    "quotes": ["error", "double"],
    "import/no-cycle": 0,
    "object-curly-newline": "off",
    "func-names": "off",
    "no-empty": "off",
    "no-lonely-if": "off",
    "@typescript-eslint/no-use-before-define": ["error"],
    "import/extensions": ["error", "never"],
    "no-shadow": "off",
    "@typescript-eslint/no-shadow": ["error"],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "array-callback-return": "off",
    "no-else-return": "off",
    "indent": ["error", 2],
    "arrow-parens":["error","as-needed"],
    "block-scoped-var":"off",
    "no-plusplus":"off",
    "no-case-declarations":"off",
    "lines-between-class-members":"off",

    // ----------------------------------
    //TODO: these are temporarily ignored
    "no-underscore-dangle": "off",
    "no-unused-vars": "off",
    "no-console": "off",
    "max-len": ["off", { "code": 150, "ignoreUrls": true }],
    "eqeqeq": "off",
    "no-await-in-loop": "off",
    "no-loop-func": "off",
    "no-empty-function": "off",
    "no-undef-init": "off",
    "no-restricted-properties": "off",
    "no-prototype-builtins": "off",
    "no-unused-expressions": "off",
    "import/order": "off",
    "import/export": "off",
    "one-var": "off",
    "operator-linebreak": "off",
    "import/no-named-as-default": "off",
    "operator-assignment": "off",
    "prefer-template": "off",
    "consistent-return": "off",
    "prefer-const": "off",
    "no-bitwise": "off",
    "no-undef": "off",
    "no-param-reassign": "off",
    "spaced-comment": ["off", "always"],
    "no-useless-return": "off",
    "new-cap": "off",
    "class-methods-use-this": "off",
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export":"off",
    "import/newline-after-import":"off",
    "vars-on-top":"off",
    "no-redeclare":"off",
    "no-var":"off",
    "nonblock-statement-body-position":"off",
    "camelcase":"off",
    "no-fallthrough":"off",
    "no-nested-ternary":"off",
    "no-async-promise-executor":"off",
    "prefer-arrow-callback":"off",
    "default-case":"off",
    "import/no-useless-path-segments":"off",
    "prefer-object-spread":"off",
    "no-self-compare":"off",
    "strict":"off",
    "import/first":"off",
    "lines-around-directive":"off",
    "no-multiple-empty-lines":"off",
    "prefer-rest-params":"off",
    "no-dupe-keys":"off",
    "no-useless-constructor":"off",
    "react-native/no-inline-styles":"off",
    "react/no-array-index-key":"off",
    "react/default-props-match-prop-types":"off",
    "react/destructuring-assignment":"off",
    "react/jsx-one-expression-per-line":"off",
    "react/jsx-wrap-multilines":"off",
    "react/no-unused-prop-types":"off",
    "react/require-default-props":"off",
    "react/sort-comp":"off",
    "react-native/no-raw-tex":"off",
    "no-unneeded-ternary":"off",
    "react-native/no-color-literals":"off",
    "react/static-property-placement":"off",
    "react/forbid-prop-types":"off",
    "react/self-closing-comp":"off",
    "react/jsx-closing-bracket-location":"off",
    "react/no-unused-state":"off",
    "no-return-assign":"off",
    "react/jsx-tag-spacing":"off",
    "react/jsx-no-bind":"off",
    "global-require":"off",
    "react/prefer-stateless-function":"off",
    "react/jsx-props-no-spreading":"off",
    "react/jsx-curly-brace-presence":"off",
    "react/jsx-boolean-value":"off",
    "react/jsx-closing-tag-location":"off",
    "react/state-in-constructor":"off",
    "react/jsx-first-prop-new-line":"off",
    "react/jsx-curly-spacing":"off",
    "brace-style":"off",
    "react/no-string-refs":"off",
    "quote-props":"off",
    "dot-notation":"off",
    "react/jsx-fragments":"off",
    "react/jsx-max-props-per-line":"off",
    "import/named":"off",
    "yoda":"off",
    "guard-for-in":"off",
    "no-unreachable":"off",
    "no-useless-escape":"off",
    "prefer-promise-reject-errors":"off",
    "react-native/split-platform-components":"off",
    "radix":"off",
    "import/no-named-default":"off",
    "no-restricted-syntax":"off",
    "no-tabs":"off",
    "no-dupe-class-members":"off",
    "react/jsx-props-no-multi-spaces":"off",
    "no-lone-blocks":"off",
    "no-useless-concat":"off",
    "react/prefer-es6-class":"off",
    "no-irregular-whitespace":"off",
    "react/jsx-no-duplicate-props":"off",
    "react/jsx-no-undef":"off",
    "no-multi-assign":"off",
    "no-void":"off",
    "react/no-redundant-should-component-update":"off",
    "react/no-children-prop":"off",
    "react/no-this-in-sfc":"off",
    "no-restricted-globals":"off",
    "no-mixed-operators":"off",
    "prefer-destructuring":"off",
    "react/no-unescaped-entities":"off",
    "import/no-duplicates":"off",
    "no-continue":"off",
    "prefer-spread":"off",
    "import/no-extraneous-dependencies":"off",
    "react/jsx-indent-props":["off",2],
    "no-constant-condition":"off",
    "react/no-deprecated":"off",
    "no-floating-decima":"off",
    "react/jsx-indent":"off",
    "function-paren-newline":"off",
    "react/no-access-state-in-setstate":"off",
    "react-native/no-unused-styles":["off","skip"],
    "react-native/no-single-element-style-arrays":"off",
    "array-bracket-spacing":"off"
  }
}